
.VerticalNavBar {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #364153;
}

.VerticalNavBar2 {
    justify-content: space-between;
    width:5%;
    position:fixed;
}

.TextoVerticalNav{
    margin-top: 10px;
    font-family: Russo One;
}

.VerticalNavBarBotones {
    display:flex; 
    height: 150px;
    flex-direction:column; 
    align-items:center;
    margin-bottom: 300px;
    justify-content: space-around;
}