.verticalNavBarContainer{
    height: 100vh;
}

.VerticalNavBar {
    height: 95%;
    display: flex;
    flex-direction: column;
    background-color: #364153;
    border-radius: 5px;
    margin: 20px;
    box-sizing: border-box;
}

.VerticalNavBar2 {
    justify-content: space-between;
    width:5%;
    position:fixed;
}

.TextoVerticalNav{
    margin-top: 10px;
    font-family: Russo One;
}

.VerticalNavBarBotones {
    display:flex; 
    height: 150px;
    flex-direction:column; 
    align-items:center;
    margin-bottom: 300px;
    justify-content: space-around;
}