.Curso {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cursoContainer {
    height: 100%;
    width: 100%;
    /* margin-bottom: 200px; */
}

.titleCursoContainer {
    background-image: url(../../assets/fondoCurso.png);
    background-size:100% ;
    object-fit:cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    margin-bottom: 150px;
}

.titleCurso {
    color: #FFF;
    text-align: center;
    font-family: Russo One;
    font-size: 6em;
    font-style: normal;
    font-weight: 400;
    line-height: 75.6px;
    letter-spacing: 0.68px;
    max-width: 100%;
    word-wrap: break-word;
}

.subtitleCurso {
    color: #FFF;
    font-family: Andada Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 95.6px;
    letter-spacing: 0.68px;
    max-width: 100%;
    word-wrap: break-word;
}

.textCurso {
    color: #FFF;
    text-align: center;
    font-family: Andada Pro;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
    max-width: 100%;
    word-wrap: break-word;
}

.cardCursoContainer {
    margin-top: 200px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardCurso {
    width: 60%; /* Ajusta este valor según lo pequeñas que desees las tarjetas en computadora */
    background-color: #111111;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    margin-bottom: 40px;
}

.cardCursoImage {
    height: 350px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.cardCursoContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleCardCurso {
    text-align: start;
    color: #FFF;
    font-family: Andada Pro;
    font-size: 25px;
    font-style: bold;
    font-weight: 400;
    letter-spacing: 1px;
    max-width: 100%;
    word-wrap: break-word;
}

.textCardCurso {
    color: #FFF;
    text-align: start;
    font-family: Andada Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    max-width: 100%;
    word-wrap: break-word;
}

.buttonDownloadCurso {
    margin-bottom: 20px;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Andada Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px;
    border-radius: 15px;
    border: 1px solid #A962FF;
    background: #111;
    width: 100% !important;
    padding: 5px 20px;
    align-self: center;
}

.resaltButton{
    background-color: #A962FF;
    color: white;
}


/* TABLET */
@media (min-width: 768px) and (max-width: 1280px) {
    .titleCurso {
        font-size: 5em;
    }

    .subtitleCurso {
        font-size: 20px;
    }

    .textCurso {
        font-size: 25px;
        line-height: 45px;
    }

    .cardCurso {
        grid-template-columns: 1fr;
    }

    .cardCursoContent {
        padding: 10px;
    }

    .cardCursoImage {
        height: 250px;
    }

    .titleCardCurso {
        font-size: 32px;
    }

    .textCardCurso {
        font-size: 25px;
    }

    .buttonDownloadCurso{
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 27.3px;
        border-radius: 15px;
        border: 1px solid #A962FF;
        background: #111;
        /* width: fit-content; */
        padding: 15px 20px;
        align-self: center;

    }
}

/* MOVIL */
@media (max-width: 767px) {

    .titleCursoContainer{
        background: linear-gradient(rgba(0, 0, 255, 0.848), black);
    }


    .titleCurso {
        font-size: 3em;
    }

    .subtitleCurso {
        font-size: 20px;
    }

    .textCurso {
        font-size: 16px;
        line-height: 20px;
    }

    .cardCurso {
        grid-template-columns: 1fr;
    }

    .cardCursoContent {
        padding: 10px;
    }

    .cardCursoImage {
        height: 150px;
    }

    .titleCardCurso {
        font-size: 20px;
    }

    .textCardCurso {
        font-size: 13px;
    }
}
