.Criptomonedas{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.criptomonedasContainer{
    width: 100%;
}

.titleCriptomonedas{
    padding: 100px;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Russo One;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 75.6px; /* 78.75% */
    letter-spacing: 0.68px;
}

.secondaryTitleCriptos{
    height: 100%;
    font-family: Andada Pro;
    font-size: 106px;
    font-style: normal;
    font-weight: 400;
    line-height: 132px; /* 124.528% */
    background: var(--s-gradient-2, linear-gradient(260deg, #0047FF -13.37%, #00BCD4 109.53%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.avisoCargando{
    height: 100vh;
    width: 100%;
    font-family: Andada Pro;
    font-size: 106px;
    font-style: normal;
    font-weight: 400;
    line-height: 132px; /* 124.528% */
    background: var(--s-gradient-2, linear-gradient(260deg, #ff0000 -13.37%, #d400b4 109.53%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.divisasContentContainer{
    width: 100%;
}

.cardsContainerCriptomonedas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 100px;
    width: 100%;
    box-sizing: border-box;
}

.cardCriptomonedas{
    padding-left: 40px;
    padding-right: 10px;
    backdrop-filter: blur(150px);
    width: 296px;
    height: 160px;
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
}

.contadorCriptomonedas{
    width: 100%;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-self: center;
    box-sizing: border-box;
}

/* Celular */
@media (min-width:320px) and (max-width:680px){

    .titleCriptomonedas{
        padding: 50px;
        font-size: 40px;
        font-weight: 400;
        line-height: 75.6px; /* 78.75% */
        letter-spacing: 0.68px;
        padding-bottom: 0;
    }

    .secondaryTitleCriptos{
        font-size: 36px;
        line-height: 132px; /* 124.528% */
    }
    
    .cardsContainerCriptomonedas{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
    }

}

/* Tablet */
@media (min-width:680px) and (max-width:799px){
    .titleCriptomonedas{
        padding: 50px;
        font-size: 86px;
        font-weight: 400;
        line-height: 75.6px; /* 78.75% */
        letter-spacing: 0.68px;
    }

    .secondaryTitleCriptos{
        font-size: 66px;
        line-height: 132px; /* 124.528% */
    }

    .avisoCargando{
        font-size: 36px;
    }
    
    .cardsContainerCriptomonedas{
        padding: 0;
        margin: 0;
    }
}