.Divisas{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.divisasContainer{
    width: 100%;
}

.divisasTitle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
}

.imageContainerDivisas{
    width: 600px;
    height: 700px;
    flex-shrink: 0;
    background: url(../../assets/divisasBanner.png);
    background-size: cover;
}

.titleDivisas{
    color: #FFF;
    text-align: center;
    font-family: Russo One;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 75.6px; /* 78.75% */
    letter-spacing: 0.68px;
    margin-bottom: 80px;
}

.white-text{
    color: #FFF;
    font-family: Andada Pro;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 75.6px;
    letter-spacing: 0.68px;
    padding: 70px;
}

.selectDivisasContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondaryTitle{
    /* height: 80px; */
    height: 100%;
    font-family: Andada Pro;
    font-size: 106px;
    font-style: normal;
    font-weight: 400;
    line-height: 132px; /* 124.528% */
    background: var(--s-gradient-2, linear-gradient(260deg, #0047FF -13.37%, #00BCD4 109.53%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.selectDivisas{
    height: auto;
    border: 0;
}

.selectDivisas:active{
    height: auto;
    border: 0;
}

.cardsContainerDivisas{
    width: 100%;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 100px;
}

.cardDivisas{
    padding-left: 120px;
    width: 253px;
    height: 205px;
}

.titleCardDivisas{
    color: #FFF;
    font-family: Andada Pro;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.04px; /* 118% */
    text-align: start;
    padding-left: 25px;
}

.price{
    color: #C4C4C4;
    font-family: Andada Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 56.875% */
    text-align: start;
}

.azul{
    border-left: 3px solid #1FCFF1;
}

.amarillo{
    border-left: 3px solid #FFD512;
}

.morado{
    border-left: 3px solid #9945FF;
}

.verde{
    border-left: 3px solid #19FB9B;
}

.rojo{
    border-left: 3px solid #FB1919;
}

.naranja{
    border-left: 3px solid #fb5219;
}

.contadorDivisas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 80px;
}

.bottomBannerDivisas{
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 159px;
    flex-shrink: 0;
    background: var(--s-gradient-2, linear-gradient(260deg, #0047FF -13.37%, #00BCD4 109.53%));
}

.textBottomBannerDivisas{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.3px; /* 113.75% */
    text-transform: uppercase;
}


/* Celular */
@media (min-width:320px) and (max-width:780px){
    .divisasTitle{
        margin: 40px;
    }
    
    .imageContainerDivisas{
        display: none;
    }
    
    .titleDivisas{
        font-size: 96px;
        line-height: 75.6px; /* 78.75% */
        letter-spacing: 0.68px;
        margin-bottom: 0;
    }

    .white-text{
        font-size: 19px;
        line-height: 35.6px;
        padding: 30px;
    }

    .secondaryTitle{    
        font-size: 66px;
        line-height: 132px; /* 124.528% */
    }
    
    .selectDivisas{
        height: auto;
        border: 0;
    }

    .selectDivisasContainer {
        flex-direction: column;
    }

    .cardsContainerDivisas {
        gap: 0;
        display: flex;
        flex-direction: column;
    }

    .bottomBannerDivisas{
        padding-left: 30px;
        padding-right: 30px;
    }

    .textBottomBannerDivisas{
        font-size: 12px;
        line-height: 17.3px;
    }

}

/* Tablet */
@media (min-width:780px) and (max-width:1230px){
    .divisasTitle{
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .imageContainerDivisas{
        display: none;
    }
    
    .titleDivisas{
        font-size: 96px;
        line-height: 75.6px; /* 78.75% */
        letter-spacing: 0.68px;
        margin-bottom: 0;
    }

    .white-text{
        font-size: 19px;
        line-height: 35.6px;
        padding: 30px;
    }

    .secondaryTitle{    
        font-size: 66px;
        line-height: 132px; /* 124.528% */
    }
    
    .selectDivisas{
        height: auto;
        border: 0;
    }

    .cardsContainerDivisas {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .bottomBannerDivisas{
        padding-left: 30px;
        padding-right: 30px;
    }

    .textBottomBannerDivisas{
        font-size: 18px;
        line-height: 19.3px;
    }
    
}