.NewsMargen {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.NewsNoSirve{
  opacity: 0.4;
  margin-top: 10px;
}

.NewsSiSirve{  
  cursor: pointer;
  margin-top: 10px;
}

.NewsSiSirve:hover{
  transform: scale(1.05);
}