@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
  
.NewsMargen {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: fadeIn 1s ease-in-out;
}

.NewsNoSirve {
  opacity: 0.4;
  margin-top: 10px;
  max-height: 200px; /* Establece la altura máxima que desees */
}

.NewsSiSirve {  
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.3s ease;
  max-height: 200px; /* Establece la misma altura máxima que en .NewsNoSirve */
}

.NewsSiSirve:hover {
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  .UniNewsModuloIndividual {
    display: flex;
    flex-direction: column;
    height: 100% !important;
  }

  .UniNewsParteIzquierda,
  .UniNewsParteDerecha {
    width: 100% !important;
    margin: 0 !important;
  }

  .UniNewsParteDerecha a {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
