
.DashBoardCRUDDiv {
    width: 90%;
    min-height: 70% ;
    background-color: #364153;
    border-radius: 10px;
    color: white;
    margin-bottom: 40px;
}

.DashBoardCRUDBody {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.DashBoardCRUDTittle{
    text-align: start;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

.DashBoardCRUDBorder {
    margin:20px;
}

.DashBoardCRUDTable {
    width: 100%;
    height: 80px;
    border-radius: 20px;
    border: 0;

}

.DashBoardComponente {
    width: 95%;
    height: 100%;
    position: fixed;
    background-color: #1A202C;
    top: 0;
    right: 0;
}

.DashBoardEditCrear {
    width: 60%;
    height: 70vh;
    background-color: #364153;
    margin: 40px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.DashBoardEditCrear form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: start;
    
}

.DashBoardEditCrear label {
    width: 100%;
    margin-left: 5%;
}

.DashBoardEditCrear input {
    width: 95%;
    margin-bottom: 20px;
    background-color: #64748B;
    border-radius: 10;
}

#titulo{
    padding: 5px;
    border-radius: 20px;
    background-color: #64748B;
    border: #64748B;
    border-radius: 20px;
    font-size: 16;
    width: 95%;
}

#descripcion{
    padding: 5px;
    border-radius: 20px;
    background-color: #64748B;
    border: #64748B;
    border-radius: 20px;
    font-size: 16;
    width: 95%;
}

#imagen{
    padding: 5px;
    border-radius: 20px;
    background-color: #64748B;
    border: #64748B;
    border-radius: 20px;
    font-size: 16px;
    width: 95%;
}

#imagen input[type="file"] {
    float: right;
    margin-left: 10px;
  }

  input[type="file"] {
    color: transparent;
    float: right !important;
    margin-left: 10px !important;
  }

#documento{
    padding: 5px;
    border-radius: 20px;
    background-color: #64748B;
    border: #64748B;
    border-radius: 20px;
    font-size: 16px;
    width: 95%;
}


#nombre {
    padding: 5px; 
    background-color: #64748B; 
    border: #64748B; 
    border-radius: 20px; 
    font-size: 16px; 
    width: 95%; 
  }

#correo{
    padding: 5px;
    background-color: #64748B;
    border: #64748B;
    border-radius: 20px;
    font-size: 16px;
    width: 95%;
}

#password{
    padding: 5px;
    background-color: #64748B;
    border: #64748B;
    border-radius: 20px;
    font-size: 16px;
    width: 95%;
}


.EditCrearBotones{
    width: 40%;   
    display: flex;
    align-self: center;
    justify-content: space-around;
    margin-bottom: 90px;

}

.crear {
    background-color: black; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    border-radius: 10px; 
    font-size: 16px; 
  }

  #cancelar {
    background-color: #dc3545; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    border-radius: 10px; 
    font-size: 16px; 
  }