
.DashBoardCRUDDiv {
    width: 90%;
    min-height: 70% ;
    background-color: #364153;
    border-radius: 5px;
    color: white;
    margin-bottom: 40px;
}

.DateTitleContainer{
    display: flex;
    width: 90%;
    align-items: center;
    margin-bottom: 60px;
}

.DashBoardCRUDBody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: column;
}

.hiddeDash{
    display: none;
}

.DashBoardCRUDTittle2{
    text-align: start;
    margin-top: 20px;
    width: 90%;
    color: #1A202C;
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    visibility: hidden;
}

.DashBoardCRUDTittleWhite,
.DashBoardCRUDTittle{
    text-align: start;
    width: 90%;
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.DashBoardCRUDTittleWhite{
    color: var(--dark-version-neutral, #FFFFFF);
} 

.DashBoardCRUDTittle{
    color: var(--dark-version-neutral, #FFFFFF70);
}

.DashBoardCRUDBorder {
    margin:20px;
}

.DashBoardCRUDTable {
    width: 100%;
    height: 80px;
    border-radius: 20px;
    border: 0;

}

.textCrud{
    font-weight: 400;
}

.theadRow{
    border-bottom: 1px solid #ffffff05;
    height: 80px;
}


.rutaDocumentoEstilos,
.rutaImagenEstilos{
    overflow: hidden;
    width: 10px;
    text-overflow: ellipsis;
}

.tableCrud{
    border-collapse: collapse;
}

.tableCell{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.DashBoardComponente {
    width: 93%;
    height: 100%;
    position: fixed;
    background-color: #1A202C;
    top: 0;
    right: 0;
}

.DashBoardEditCrear {
    width: 50%;
    height: 70vh;
    background-color: #364153;
    margin: 40px;
    border-radius: 10px;
    color: white;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    
}

.DashBoardEditCrear form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: start;
    
}

.DashBoardEditCrear label {
    width: 100%;
    margin-left: 5%;
}

.DashBoardEditCrear input {
    width: 95%;
    background-color: #364153;
    border-radius: 10;
}

.TituloCrudCrear{
    color: var(--dark-version-neutral, #ffffff70);
    text-align: center;
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.labelInputCrud{
    padding: 5px;
    font-weight: 100;
    font-size: 16px
}

#titulo,
#descripcion,
#imagen,
#documento,
#nombre,
#correo,
#contraseña{
    color: white;
    padding: 6px;
    background-color: #64748B50;
    border: none;
    border-radius: 5px; 
    font-size: 16px;
    width: 95%;
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

.optionSelect{
    background-color: #64748B;
}

/* .EditCrearBotones{
    width: 60%;   
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin-top: 80px;
} */
.EditCrearBotones{
    width: 60%;   
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-self: center;
    justify-content: space-between;
    margin-top: 80px;
}

.crear {
    background-color: #17ad44; 
    color: #fff; 
    padding: 8px 40px;
    border: none; 
    cursor: pointer; 
    border-radius: 10px; 
    font-size: 16px; 
    font-weight: bold;
}


.editar {
    background-color: #605cff; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
    border-radius: 10px; 
    font-size: 16px; 
    font-weight: bold;
}

.cancelar {
    background-color: #ffffff20; 
    color: #fff; 
    width: 100%;
    border: none; 
    cursor: pointer; 
    border-radius: 10px; 
    font-size: 16px; 
    font-weight: bold;

}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff20;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.pdf-modal-content {
    width: 100%;
    height: 90vh;
    border: none;
}

@media (max-width: 768px) {
    .modal {
        width: 90%;
    }

    .modal-close {
        top: 10px;
        right: 10px;
        width: 15px;
        height: 15px;
    }

    .pdf-modal-content {
        height: 60vh;
    }
}

@media screen and (max-width: 1200px) {
    .DashBoardCRUDDiv {
        overflow-x: scroll;
    }
}

/* Media Query para pantallas más pequeñas */
@media screen and (max-width: 900px) {

    .DashBoardComponente{
        margin-top: 100px;
    }

    .DashBoardCRUDDiv {
        overflow-x: scroll;
        width: 90%;
        min-height: 50vh; /* Reduzco la altura mínima */
        background-color: #364153;
        border-radius: 5px;
        color: white;
        margin-bottom: 20px; /* Reduzco el margen inferior */
    }

    .DateTitleContainer {
        display: flex;
        width: 90%;
        align-items: center;
        margin-bottom: 40px; /* Reduzco el margen inferior */
    }

    .DashBoardCRUDBody {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .DashBoardCRUDTittle2 {
        margin-top: 10px; /* Reduzco el espacio superior */
        width: 90%;
        font-size: 30px; /* Disminuyo el tamaño del título */
        visibility: hidden;
    }

    .DashBoardCRUDTittleWhite,
    .DashBoardCRUDTittle {
        width: 90%;
        font-size: 30px; /* Disminuyo el tamaño del título */
    }

    .DashBoardCRUDBorder {
        margin: 10px; /* Reduzco el margen */
    }

    .DashBoardCRUDTable {
        height: 60px; /* Reduzco la altura de la tabla */
    }

    .textCrud {
        font-weight: 400;
    }

    .theadRow {
        border-bottom: 1px solid #ffffff05;
        height: 60px; /* Reduzco la altura de la fila */
    }

    .rutaDocumentoEstilos,
    .rutaImagenEstilos {
        width: 5px; /* Reduzco el ancho para que se trunque más rápido */
    }

    .tableCell {
        max-width: 150px; /* Ajusto el ancho máximo */
    }

    .DashBoardComponente {
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: #1A202C;
        top: 0;
        right: 0;
    }

    .DashBoardEditCrear {
        width: 90%;
        background-color: #364153;
        margin: 20px;
        border-radius: 10px;
        color: white;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .EditCrearBotones {
        width: 90%; /* Reduzco el ancho para ocupar más espacio en pantallas pequeñas */
        display: flex;
        align-self: center;
        justify-content: space-between;
        margin-top: 40px; /* Reduzco el espacio superior */
        flex-wrap: wrap; /* Permito que los botones se coloquen en filas adicionales si no caben en una sola línea */
    }

    .editar,
    .crear,
    .cancelar {
        width: 100%; /* Ajusto el ancho de los botones para distribuirlos mejor */
        margin-bottom: 10px; /* Añado espacio entre los botones */
    }
}
