.DashboardContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.DashboardDate{
    color: #ffffff70;
    background-color: #364153;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    position: absolute;
    top: 20px;
    width: 149.659px;
    height: 46.049px;
    flex-shrink: 0;
    font-size: 20px;
}

.DashboardNombreUsuario {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 2px;
    margin: 30px;
    font-size: 50px;
    font-weight: 400;
    color: #ffffff70;
}

.DashboardOptionsBloques{
    background-color: #364153;
    width: 90%;
    height: 80%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.DashboardOptions{
    width: 40%;
    height: 35%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-bottom: 240px;
    align-items: center;
    justify-items: center;
    
}

.isHover:hover{
    color: white;
}

.DashHomeObjetoColor{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    
}

.DashHomeObjetoColor :hover{
    opacity: 0.5;
}

.DashHomeTexto{
    width: 40%;
    color: #ffff;
    margin-left: 20px;  
    text-align: left;
}

.DashHomeTexto h3{
    margin:1px;
    font-size: 18px;
}


.DashHomeTexto p {
    margin:1px;
    font-size: 11px;
}

.SimboloDashHome{
    width: 50%;
}